
<<<<<<< HEAD
    <p><%= f.input :body, :label => "New Comment", as: :text, input_html:{rows: "3"} %></p>
  <p><%= f.submit "Add Comment", class: "btn btn-primary" %></p>
=======
  <p><%= f.input :body, :label => "New Comment", as: :text, input_html:{rows: "3"} %></p>
  <p><%= f.submit "Add Comment", class: "btn btn-primary" %></p>
  
>>>>>>> ace6ab78c391f2e665f053ce55feeb9f8019ed2f
