<h1>Edit comment</h1>
<<<<<<< HEAD
 <%= simple_form_for [@pin, @comment] do |f| %>
=======
<%= simple_form_for [@pin, @comment] do |f| %> 
>>>>>>> ace6ab78c391f2e665f053ce55feeb9f8019ed2f
  <%= render 'form', f: f %>
<% end %>
<%#= link_to 'Show', @comment %> 
<%= link_to 'Back', comments_path %>
