<div class="panel center">
	<h3>Amusez-vous Rejoignez le plaisir et télécharger de nouvelles Pins?</h3>
	<p>
       <%= link_to "S'identifier", new_user_session_path, class: "btn btn-default btn-lg" %>
       <%= link_to "Signar", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>