<h1>Contact</h1>
<p>Hi everyone! Thanks for vising Sharee's Pinmazing website. I hope you are enjoying this fun website.  I'm also available for personal or corporate webpage design and development.  You can contact me anytime at shareewashcoder@gmail.com or at 803-414-4232.</p>