<h1>Contacto</h1>
<p>Hola a todos! Gracias por los que visiten el sitio web de Sharee Pinmazing. Espero que estén disfrutando de este sitio web divertido. Yo también estoy disponible para el diseño de página web personal o corporativa y el desarrollo. Puede ponerse en contacto conmigo en cualquier momento en shareewashcoder@gmail.com o al 803-414-4232.</p>