<div class="panel center">
	<h3>Join the fun and upload new Pins?</h3>
	<p>
       <%= link_to "Log in", "", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "", class: "btn btn-primary btn-lg" %>
  </p>
</div>