<p>Bienvenue <%= @email %>!</p>

<p>Vous pouvez confirmer votre compte e-mail via le lien ci-dessous:</p>

<p><%= link_to 'Valider ma accout', confirmation_url(@resource, confirmation_token: @token) %></p>