<nav class="navbar navbar-default" role="navigation">
	<div class="container">
	    <ul class="nav navbar-nav navbar-left">
	      <li><%= link_to "Home", root_path %></li>
	      <li><%= link_to "Contact", contact_path %></li>
	      <li><%= link_to "Imprint", imprint_path %></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<li><%= link_to "Made with love and supported by Coderletics", root_path %></li>
	    </ul>
	</div><!-- /.container --> 
</nav>