<nav class="navbar navbar-default" role="navigation">
	<div class="container">
	    <ul class="nav navbar-nav navbar-left">
	      <li><%= link_to "Home", root_path %></li>
	      <li><%= link_to "Contact", contact_path %></li>
	      <li><%= link_to "Empreinte", imprint_path %></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<li><%= link_to "Fait avec amour et soutenu par Coderletics", root_path %></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fsharee-pinmazing.herokuapp.com&amp;width&amp;layout=button&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px;" allowTransparency="true"></iframe>
	    </ul>
	</div><!-- /.container --> 
</nav>